.general-setting-container {
  padding: 5px;
  border-bottom: 1px solid darkgray;
  margin-bottom: 30px;
}

.card-container {
  margin: 0 auto 45px;
  margin-top: 0px;
}

.refresh-btn {
  position: fixed;
  bottom: 50px;
  right: 50px;
  border-radius: 30px;
}
