.form-control {
  margin-bottom: 5px;
}

.general-form-container {
  display: grid;
  grid-auto-flow: column;
}

.card-container.card {
  padding: 20px;
}

.form-group {
  width: 95%;
}

.btn-update {
  position: relative;
  top: 40px;
}
