.form-control {
  margin-bottom: 5px;
}

h3 {
  margin-bottom: 15px;
}
.container {
  position: relative;
}
.form-container {
  max-width: 300px;
  position: absolute;
  right: 0;
  top: 0;
}

.card {
  margin: 0;
  padding: 4px 10px;
}

.action-container {
  display: flex;
}
.action-container .btn {
  margin: 2px;
}

.no-item-found {
  text-align: center;
  padding: 15px;
  color: gray;
}
